Package: rake-compiler
Version: 1.0.5-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 58
Depends: rake, ruby | ruby-interpreter
Section: ruby
Priority: optional
Homepage: https://github.com/rake-compiler/rake-compiler
Description: Rake-based Ruby Extension (C, Java) task generator
 The rake-compiler is first and foremost a productivity tool for Ruby
 developers. It's goal is to make the busy developer's life easier by
 simplifying the building and packaging of Ruby extensions by
 simplifying code and reducing duplication.
 .
 It follows *convention over configuration* by advocating a standardized
 build and package structure for both C and Java based RubyGems.
 .
 Rake-compiler is the result of many hard-won experiences dealing with
 several diverse RubyGems that provided native extensions for different
 platforms and different user configurations in different ways. Details
 such as differences in code portability, differences in code clarity,
 and differences in project directory structure often made it very
 difficult for newcomers to those RubyGems.
Ruby-Versions: all
